* text eol=lf

*.bat eol=crlf

*.png binary
*.jpg binary
*.vsd filter=lfs diff=lfs merge=lfs -text
*.doc binary
*.pos binary
*.tim binary
*.fdt binary
*.tip binary
Build/*.cmd binary
Build/*.sh binary
