<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome message</title>
  <style>
    body {
      font-family: "Helvetica Neue", Arial, sans-serif;
      height: 100%;
      margin: 0;
      position: absolute;
      width: 100%;
    }

    main {
      line-height: 1.3;
      margin: auto;
      max-width: 768px;
      width: 75%;
    }
  </style>
</head>

<body>
  <main>
    <h1>Welcome message</h1>
    <p style="color:red">This HTML file is a placeholder for content that you can display to Analyst's Notebook users when they log in to your deployment of i2 Analyze.</p>
    <p style="color:red">To display this page to users at login, set <strong>EnableWelcomePage=true</strong> in the <strong>DiscoServerSettingsCommon.properties</strong> file (or the <strong>analyze-settings.properties</strong> file, if you have one).</p>
    <p>Typical content that you might present here includes:
      <ul>
        <li>Your corporate branding, such as a logo or a color scheme</li>
        <li>A description of <em>your</em> i2 Analyze deployment, including the features that it provides</li>
        <li>Links to sections of the <a href="https://docs.i2group.com">i2 documentation</a> that explain the features you deployed</li>
        <li>Links to your documentation that gives detail on using i2 Analyze in your organization</li>
      </ul>
    </p>
    <p>Analyst's Notebook displays this content in a dialog that also contains a <strong>Close</strong> button and an option for users to hide the dialog in future.</p>
  </main>
</body>

</html>
